streamlit
pandas==2.2.2
hashlib  
PyPDF2==3.0.1
regex==2024.5.15
scikit-learn==1.5.2
wordcloud==1.9.3
matplotlib==3.9.1
bertopic==0.16.3
numpy==1.26.4
openai==1.51.2
sentence-transformers==3.1.1
umap-learn==0.5.6
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
transformers==4.45.2
